.goorm_logo{
    font-family: 'Lobster', cursive;
}


.goorm_footer_button{
    font-size: .6rem;
}

.goorm_footer{
    text-align:center;
    margin-top: 2rem;
}

.goorm_header{
    text-align:center;
    margin: 2rem 0;
}


